.about {
  background-color: #333;
  color: white;
}

.about-me-list {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.about-me-list-item {
  padding: 0.75em 0;
}

.about-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  line-height: 30px;
}

.about-me-list,
.about-skills-list {
  width: 100%;
}

.about strong {
  color: #ffcb05;
}

.about-skills-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 25px;
  width: 100%;
}

.about-skills-list-item {
  font-size: 2em;
  width: 50%;
  padding: 0.25em 0;
  text-align: center;
  transition: color 0.5s, transform 0.5s;
}

.about-skills-list-item:hover {
  color: #ffcb05;
  transform: scale(1.05);
}

.about-skills-list-item-icon {
  font-size: 1.75em;
}

.about-skills-list-item-desc {
  font-size: 0.55em;
}

.about-ending-text-container {
  display: flex;
  width: 100%;
  padding: 2em 0;
  justify-content: center;
  text-align: center;
  color: #ffcb05;
  text-transform: uppercase;
}

@media (min-width: 600px) {
  .about-content {
    flex-direction: row;
  }

  .about-skills-list {
    padding-top: 0px;
  }

  .about-skills-list-item {
    width: 33.33%;
  }

  .about-skills-list-item-icon {
    font-size: 1.25em;
  }

  .about-skills-list-item-desc {
    font-size: 0.5em;
  }
}
@media (min-width: 1000px) {
  .about-skills-list-item-icon {
    font-size: 1.5em;
  }

  .about-skills-list-item-desc {
    font-size: 0.65em;
  }
}

@media (min-width: 1500px) {
  .about-skills-list-item-icon {
    font-size: 2em;
  }

  .about-skills-list-item-desc {
    font-size: 0.7em;
  }

  .about-ending-text-container,
  .about-me-list-item {
    font-size: 1.25em;
  }
}
