.contacts-list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.contacts-list-icon {
  font-size: 1.5em;
  padding: 0 1em;
  transition: all 0.5s;
}

.contacts-list-icon:hover {
  color: #ffcb05;
}

.contacts-resume-icon {
  width: 30px;
}

.contacts-list-resume {
  width: 30px;
  filter: invert(0%) sepia(5%) saturate(7482%) hue-rotate(261deg)
    brightness(98%) contrast(106%);
  transition: all 0.1s;
}

.contacts-list-resume:hover {
  filter: invert(72%) sepia(93%) saturate(467%) hue-rotate(352deg)
    brightness(100%) contrast(103%);
}

.contacts-content-desc {
  text-align: center;
}

.contacts-content-desc:first-of-type {
  padding: 1em 0;
}

.contacts-content-desc:last-of-type {
  padding: 1em 0 2em;
}

@media (min-width: 1000px) {
  .contacts-list {
    font-size: 1.5em;
  }

  .contacts-content-desc {
    font-size: 1.5em;
  }
}

@media (min-width: 1500px) {
  .contacts-list {
    font-size: 1.75em;
  }

  .contacts-content-desc {
    font-size: 1.75em;
  }
}
