.hero-section {
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url("../images/heroBg1SmallPhone.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  color: white;
}

.hero-section .container,
.hero-section-content {
  height: 100%;
}

.hero-section-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hero-header-top {
  position: relative;
  top: 7em;
  text-align: center;
}

.hero-header-top-h1 {
  font-size: 1.9em;
  margin-bottom: 1em;
}

.hero-header-bottom {
  position: relative;
  text-align: center;
  bottom: 7em;
  z-index: 2;
  transition: all 0.5s;
}

.hero-header-bottom.opened-nav {
  z-index: 0;
}

.hero-header-bottom-cta {
  position: relative;
  padding: 1em 2em;
  text-transform: uppercase;
  font-size: 1.25em;
  letter-spacing: 2px;
  transition: all 0.5s;
}

.hero-header-bottom-icons {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 1.5em;
  font-size: 1.5em;
}

.hero-header-bottom-icon {
  transition: all 0.5s;
}

.hero-header-bottom-cta:hover,
.hero-header-bottom-icon:hover {
  color: #ffcb05;
}

.hero-header-bottom-icon {
  padding: 0 1em;
}

.hero-resume-icon-li {
  filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(76deg)
    brightness(104%) contrast(102%);
  transition: all 0.1s;
}

.hero-resume-icon-li:hover {
  filter: invert(72%) sepia(93%) saturate(467%) hue-rotate(352deg)
    brightness(100%) contrast(103%);
}

.hero-header-resume-icon {
  width: 30px;
}
@media (max-width: 361px) {
  .hero-header-top-h1 {
    font-size: 1.5em;
  }
}

@media (min-width: 650px) {
  .hero-section {
    background-image: url("../images/heroBg1Large.jpg");
  }
}

@media (min-width: 1000px) {
  .hero-section {
    font-size: 1.25em;
  }

  .hero-header-top {
    top: 4.5em;
  }

  .hero-header-bottom {
    bottom: 4.5em;
  }
}

@media (min-width: 1500px) {
  .hero-section {
    font-size: 1.5em;
  }

  .hero-header-top {
    top: 7em;
  }

  .hero-header-bottom {
    bottom: 7em;
  }
}
